<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="footer_body">
    <footer class="footer">
      <div class="footer-contents">
        <div class="footer">
          <div class="row">
            <a href="https://github.com/BradleyWilliamsDev"
              ><i class="fa fa-github"></i
            ></a>
            <a href="https://www.linkedin.com/in/bradley-williams-dev/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
